/* Colors */

nav, #project-list > button:hover {
    background-color: #14213D;
}

.complete-task-button, #new-project-button, #new-task-button, #project-submit-button {
    background-color: green;
}

.expand-task-button {
    background-color: #FCA311;
}

.delete-task-button {
    background-color: red;
}

nav, #project-list > button:hover, .complete-task-button, .expand-task-button, .delete-task-button, #new-project-button, #new-task-button, #project-submit-button {
    color: #FFFFFF;
}

.task > button:hover, #new-project-button:hover, #new-task-button:hover, #project-submit-button:hover {
    filter: brightness(80%);
}

/* Fonts */

body, button {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* Flex */

nav, #main-area, #project-container-header, #project-list, #task-list, .task, .task-metadata, #task-container-header, #project-form-container {
    display: flex;
}

nav > p, #tasks-container {
    flex: 4;
}

.task-metadata {
    flex: 10;
}

#projects-container, .complete-task-button, .expand-task-button, .delete-task-button, #project-name-input, #project-submit-button {
    flex: 1;
}

#project-list, #task-list, .task-metadata, #project-form-container {
    flex-direction: column;
}

/* Spacing and Sizing */

body {
    margin: 0px;
}

.column-header, nav > p {
    margin-left: 20px;
}

button {
    border: none;
    padding: 5px;
    cursor: pointer;
}

#project-name-input {
    line-height: 50px;
}

/* Misc */

#project-name-input {
    text-align: center;
}

#projects-container {
    background-color: #E5E5E5;
}

nav > p {
    text-align: left;
}

#main-area {
    height: 100vh;
}

#project-container-header, #task-container-header {
    justify-content: space-between;
}

#project-list > button {
    background-color: transparent;
    text-align: left;
    padding: 20px 0px 20px 20px;
    font-size: 20px;
}

.task {
    padding: 0px 0px 20px 20px;
}

#task-container-header, #project-container-header {
    border-bottom: solid 1px black;
}

#project-name-input {
    border: none;
}

#project-name-input:focus {
    outline: none;
}

/* Responsiveness */

@media (max-width: 1300px) {
    h2, h3, p {
        text-align: center;
    }

    #project-list > button {
        text-align: center;
    }

    #project-list > button {
        padding-left: 0px;
    }

    .column-header {
        margin-left: 0px;
    }

    #main-area, .task, #project-container-header, #task-container-header {
        flex-direction: column;
        margin-bottom: 0px;
    }

    nav > p {
        text-align: center;
    }

    .task {
        padding-right: 20px;
    }

    #new-project-button, #new-task-button {
        margin: 0px 20px 20px 20px;
    }

    #project-submit-button, #project-name-input {
        margin: 0px 20px 0px 20px;
    }

    #project-form-container {
        margin-top: 20px;
    }
}