/* Colors and Brightness */

.is-green {
    background-color: green;
}

.is-orange {
    background-color: #FCA311;
}

.is-red {
    background-color: red;
}

.is-blue, .is-blue-on-hover:hover {
    background-color: #14213D;
}

.is-grey, .is-grey-on-hover:hover {
    background-color: #E5E5E5;
}

.transparent-background {
    background-color: transparent;
}

.has-white-text, .has-white-text-on-hover:hover {
    color: #FFFFFF;
}

.task > button:hover, #new-project-button:hover, #new-task-button:hover, #project-submit-button:hover {
    filter: brightness(80%);
}

/* Fonts */

body, button {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* Buttons */

.has-pointer {
    cursor: pointer;
}

.round {
    border-radius: 50%;
}

.squared-35 {
    width: 35px;
    height: 35px;
}

/* Flex */

.flex {
    display: flex;
}

.flex-1 {
    flex: 1;
}

.flex-4 {
    flex: 4;
}

.flex-10 {
    flex: 10;
}

.flex-column {
    flex-direction: column;
}

.flex-vertical-center {
    align-items: center;
}

.flex-space-around {
    justify-content: space-around;
}

/* Spacing and Sizing */

body {
    margin: 0px;
    min-height: 100vh;
}

.full-height {
    height: 100vh;
}

.ml-20 {
    margin-left: 20px;
}

.mr-20 {
    margin-right: 20px;
}

.flat-button {
    border: none;
}

.lh-50 {
    line-height: 50px;
}

.pl-20 {
    padding-left: 20px;
}

.pt-20 {
    padding-top: 20px;
}

.pb-20 {
    padding-bottom: 20px;
}

.font-size-20 {
    font-size: 20px;
}

/* Misc */

.has-text-centered {
    text-align: center;
}

.has-text-left-desktop {
    text-align: left;
}

.borderless {
    border: none;
}

.no-outline {
    outline: none;
}

#project-name-input:focus {
    outline: none;
}

::-webkit-calendar-picker-indicator {
    display: none;
}

/* Responsiveness */

@media (max-width: 1300px) {

    .flex-column-mobile {
        flex-direction: column;
    }

    .ml-20-mobile {
        margin-left: 20px;
    }

    .mr-20-mobile {
        margin-right: 20px;
    }

    .ml-0-mobile {
        margin-left: 0px;
    }

    .has-text-centered-mobile {
        text-align: center;
    }

    #project-list > button {
        padding-left: 0px;
    }

    .column-header {
        margin-left: 0px;
    }

    #main-area, .task {
        flex-direction: column;
        margin-bottom: 0px;
    }

    .task {
        padding-right: 20px;
    }

    #project-submit-button, #project-name-input {
        margin: 0px 20px 0px 20px;
    }

    #project-form-container {
        margin-top: 20px;
    }

    .flex-horizontal-center {
        justify-content: center;
    }

    .width-60-mobile {
        width: 60%;
    }

    .mr-0-mobile {
        margin-right: 0px;
    }

    .mt-20-mobile {
        margin-top: 20px;
    }

    .width-100-percent-mobile {
        width: 100%;
    }
}